<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penyo.herbms.mapper.PrescriptionInfoMapper">

  <insert id="add" parameterType="PrescriptionInfo">
    INSERT prescription_infos (name, nickname, description)
    VALUES (#{name}, #{nickname}, #{description})
  </insert>

  <delete id="delete" parameterType="int">
    DELETE
    FROM prescription_infos
    WHERE id = #{id}
  </delete>

  <update id="update" parameterType="PrescriptionInfo">
    UPDATE prescription_infos
    SET name        = #{name},
        nickname    = #{nickname},
        description = #{description}
    WHERE id = #{id}
  </update>

  <select id="selectById" resultType="PrescriptionInfo" parameterType="int">
    SELECT *
    FROM prescription_infos
    WHERE id = #{id}
  </select>

  <select id="selectByFields" resultType="PrescriptionInfo" parameterType="java.util.List">
    SELECT * FROM prescription_infos
    WHERE
    <foreach collection="list" item="item" separator="AND">
      CONCAT_WS(name, nickname, description)
      LIKE CONCAT('%', #{item}, '%')
    </foreach>
  </select>

  <select id="selectAll" resultType="PrescriptionInfo">
    SELECT *
    FROM prescription_infos
  </select>

  <select id="selectByHerbName" resultType="PrescriptionInfo" parameterType="java.util.List">
    SELECT *
    FROM prescription_infos
    WHERE id IN (SELECT id
                 FROM herbs
                 WHERE name = #{name})
  </select>

  <select id="selectByPrescriptionId" resultType="PrescriptionInfo" parameterType="int">
    SELECT *
    FROM prescription_infos
    WHERE id IN (SELECT id
                 FROM prescriptions
                 WHERE id = #{id})
  </select>

  <select id="selectByIDTIId" resultType="PrescriptionInfo" parameterType="int">
    SELECT *
    FROM prescription_infos
    WHERE id IN (SELECT id
                 FROM item_differentiation_infos
                 WHERE id = #{id})
  </select>

</mapper>